{
    "presets": [
        [
            "@nx/react/babel",
            {
                "runtime": "automatic",
                "importSource": "@welldone-software/why-did-you-render"
            }
        ]
    ],
    "plugins": []
}