{
    "jsc": {
        "target": "esnext",
        "parser": {
            "syntax": "typescript",
            "decorators": true,
            "dynamicImport": true,
            "exportDefaultFrom": false
        },
        "transform": {
            "decoratorMetadata": true,
            "legacyDecorator": true
        },
        "minify": {
            "format": {
                "comments": false
            }
        },
        "keepClassNames": true,
        "externalHelpers": false,
        "loose": true
    },
    "module": {
        "type": "es6",
        "strict": true,
        "lazy": false,
        "noInterop": false
    },
    "sourceMaps": true,
    "exclude": [
        "jest.config.ts",
        ".*\\.spec.tsx?$",
        ".*\\.test.tsx?$",
        "./src/jest-setup.ts$",
        "./**/jest-setup.ts$",
        ".*.js$"
    ]
}