name: Release

on:
  push:
    tags:
      - '*'

jobs:
  npm:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/hydrogen # 18
          registry-url: https://registry.npmjs.org
          always-auth: true

      - name: Install repo dependencies
        run: yarn install --network-timeout 1000000 --forzen-lockfile

      - name: Publish artifacts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: nx show projects | grep -F -x '`echo ${{ env.GITHUB_REF_NAME }} | cut -d'@' -f1`' | xargs -I '{}' yarn nx publish {} --configuration=production --parallel=1
        # run: npm publish --provenance

#   github:
#     needs:
#       - npm
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v4
#         with:
#           fetch-depth: 2
#       - name: Setup node
#         uses: actions/setup-node@v4
#         with:
#           node-version: lts/hydrogen # 18
#           cache: 'npm'
#       - run: node .release-notes.cjs
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}